
{% include 'header.html' %}
<form method="post" action="/store" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            Ingreso de usuarios
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del usuario</h5>
            <p class="card-text">Content</p>
            
            Nombre:
            <input type="text" name="txtNombres" id="txtNombres">
            <br>
            <br>
            Correo:
            <input type="text" name="txtCorreo" id="txtCorreo">
            <br>
            <br>
            Foto:
            <input type="file" name="txtFoto" id="txtFoto">
            <br>
            <br>
            <input type="submit" value="Crear">
            
        </div>
    </div>
    
</form>
{% include 'footer.html' %}